# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List Popular Languages for Data Science
- List Popular Libraries for Data Science
- Create a table containing Data Science Tools
- Write and execute Arithmetic Examples

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. Scikit-learn

| Data Science Tools |
|-----|
| MySQL |
| Jupyter |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [7]:
# This is a simple arithmetic expression to multiply then add inetgers.
(3*4)+5

17

In [9]:
# This will convert 200 minutes to hours by dividing by 60.
200/60

3.3333333333333335

## Author
Alan Rodriguez